.footer-container {
    position: relative;
    border-top: 1px solid;
    background: #001821;
    min-height: 132px;
  }
  
  .footer {
    position: relative;
    min-height: 140px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__col {
    display: flex;
    align-items: center;
  }
  
  .footer__col--align--right {
    align-items: flex-end;
  }