.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
  
  .paginator__display {
    margin-right: 34px;
  }
  
  .paginator__list {
    display: flex;
    align-items: center;
  }
  
  .paginator__item {
   display: flex;
   text-align: center;
  }
  
  .paginator__link {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: transparent;
  
    font-weight: 700;
    font-size: 16px;
    color: #000;
    line-height: 32px;
  
    transition: .4s;
  }

  .paginator__link:hover {
    background:  #F5170E;;
    color: #FFF;
  }